<!DOCTYPE html>

<html>
<head>
	<title>Secret Santa</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

	<style>
		#vue-app {
			text-align: center;
		}

		form input {
			width: 80%;
			padding: 10px;
			margin: 10px;
			box-sizing: border-box;
		}

		form button {
			padding: 10px;
			margin: 10px;
		}

		.special-button {
			background-color: #FF3C3C; /* Slightly subtler than red */
			border-radius: 5px;
			padding: 10px;
			margin: 10px;
		}
	</style>
</head>

<body>
	<div id="vue-app">
		<p v-if="labels.infoMessage != ''">{{ labels.infoMessage }}</p>

		<form action="create" method="post">
			<input type="text" id="name" name="name" v-bind:placeholder="labels.name" required>
			</br>

			<input type="text" id="email" name="email" v-bind:placeholder="labels.email" required>
			</br>

			<span>
				<span v-for="option in radioOptions">
					<input type="radio" v-model="selectedOption" v-bind:id="radioIdName + option.id" v-bind:name="radioName" :value="option.id">
					<label v-bind:for="radioIdName + option.id">{{ option.txt }}</label>
				</span>
				</br>
			</span>

			<button v-if="selectedOption == 0" type="submit">{{ labels.create }}</button>
			<button v-if="selectedOption == 1" type="submit">{{ labels.delete }}</button>
			<button v-if="selectedOption == 2" type="submit">{{ labels.change }}</button>
		</form>

		<button type="button" class="special-button" onClick="selectPairs();">{{ labels.big_red_button }}</button>
	</div>

	<script>
		const app = new Vue({
			el: "#vue-app",
			data: {
				radioName: "formOptions",
				radioIdName: "radio",
				radioOptions: [
					{txt: "Register", id: 0},
					{txt: "Delete", id: 1},
					{txt: "Change email", id: 2},
				],
				selectedOption: 0,
				labels: {
					name: "Your name",
					email: "Your email",
					create: "Register",
					delete: "Delete",
					change: "Change email",
					big_red_button: "Le big red button",
					infoMessage: "",
				},
			}
		});

		const urlParams = new URLSearchParams(window.location.search);
		const registeredEmail = urlParams.get("registered");
		const errorType = urlParams.get("error");
		if (registeredEmail !== null) {
			app.labels.infoMessage = `${registeredEmail} registered successfully`;
		} else if (errorType !== null) {
			app.labels.infoMessage = "Error: bla";
		}

		const selectPairs = () => {
			window.location.replace(window.location.href + "pairs");
		};
	</script>
</body>
</html>
