<!DOCTYPE html>

<html>
<head>
	<title>Secret Santa</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

	<style>
		#vue-app {
			text-align: center;
		}

		form input {
			width: 80%;
			padding: 10px;
			margin: 10px;
			box-sizing: border-box;
		}

		form button {
			padding: 10px;
			margin: 10px;
		}

		table.radioOptions {
			margin-left: auto;
			margin-right: auto;
			text-align: left;
			align: center;
		}

		.special-button {
			background-color: #FF3C3C; /* Slightly subtler than red */
			border-radius: 5px;
			padding: 10px;
			margin: 10px;
		}
	</style>
</head>

<body>
	<div id="vue-app">
		<p v-if="labels.infoMessage != ''">{{ labels.infoMessage }}</p>

		<form v-bind:action="selectedOption" method="post">
			<input type="text" id="name" name="name" v-bind:placeholder="labels.name" required>
			</br>

			<input type="text" id="email" name="email" v-bind:placeholder="labels.email" required>
			</br>

			<table class="radioOptions">
			<tr v-for="option in radioOptions">
				<td><input type="radio" v-model="selectedOption" v-bind:id="radioIdName + option.value" v-bind:name="radioName" v-bind:value="option.value"/></td>
				<td><label v-bind:for="radioIdName + option.value">{{ option.txt }}</label></td>
			</tr>
			</table>

			<button type="submit">{{ radioOptions[selectedOption].button }}</button>
		</form>

		<button type="button" class="special-button" onClick="selectPairs();">{{ labels.bigRedButton }}</button>
	</div>

	<script>
		const app = new Vue({
			el: "#vue-app",
			data: {
				radioName: "formAction",
				radioIdName: "radio",
				radioOptions: {
					"create": {
						txt: "I want to participate",
						button: "Sign me up",
						value: "create"
					},
					"delete": {
						txt: "I don't want to participate anymore",
						button: "Cancel my application",
						value: "delete"
					},
					"update": {
						txt: "I typed something wrong",
						button: "Change my email",
						value: "update"
					},
				},
				selectedOption: "create",
				labels: {
					name: "Your name",
					email: "Your email",
					bigRedButton: "Roll the dice",
					infoMessage: "",
				},
			}
		});

		const urlParams = new URLSearchParams(window.location.search);
		const registeredEmail = urlParams.get("registered");
		const errorType = urlParams.get("errorType");
		if (registeredEmail !== null) {
			app.labels.infoMessage = `${registeredEmail} registered successfully`;
		} else if (errorType !== null) {
			app.labels.infoMessage = "Error: " + errorType;
		}

		const selectPairs = () => {
			window.location.replace(
				location.protocol +
				"//" +
				location.host +
				location.pathname +
				"read"
			);
		};
	</script>
</body>
</html>
